{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试平台</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/lucky.js' %}"></script>
    <style type="text/css">
        #content1,#content2,#content3,#content4
        {
        height:230px;
        width:230px;
        float:left;
        margin-left:50px;
        }
    </style>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>

